<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {%if title%}
    <title>{{title}}-Friendzone</title>
    {%else%}
    <title>Welcome to Friendzone</title>
    {%endif%}
  </head>
  <body>
    <div>
    <a href="/index">Go to Home</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {%block content%} {%endblock%}
  </body>
</html>
