{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/login.css') }}">
</head>

  <h1>Sign In</h1>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Enter your UserName:<br>
          {{ form.UserName}}<br>
          {% for error in form.UserName.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p>
      Enter Your Password:<br>
      {{ form.Password}}<br>
      {% for error in form.Password.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
    </p>
      <p>{{ form.remember_me }} Remember Me</p>
      <p><input type="submit" value="Sign In"></p>
  </form>
  <hr>

  <p>Dont have an account? <a href="register">Create One</a> or
    <br>
    <form action="/authorize/facebook" method="get">
      <p><button type="submit" id="facebook">Sign in with Facebook</button></p>
    </form>
    <br><a href="/authorize/twitter">Twitter</a>
  </p>
{% endblock %}
